extends layout

block append content
	h2.page-header Current
	div#temperatures(style='min-width: 310px; height: 400px; margin: 0 auto')

block append scripts
	script(type='text/javascript').
		var temperatures = !{JSON.stringify(temperatures)};
	script(type='text/javascript', src='/javascripts/temperatures.js')
