doctype html
html
	head
		title=title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')

	body

		#container.container-fluid
			block content
				block page_title
					h1.page-header.text-center Temperature control

		block scripts
			script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.1.min.js')
			script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
			script(type='text/javascript', src='http://code.highcharts.com/highcharts.js')
			script(type='text/javascript', src='http://code.highcharts.com/modules/exporting.js')

			if settings.env === 'development'
				script(type='text/javascript', src='//localhost:35729/livereload.js')